polkit.addRule(function(action, subject) {
    if (action.id == "org.clausis.system.manage" &&
        subject.active && subject.local &&
        subject.isInGroup("clausis")) {
        return polkit.Result.AUTH_ADMIN_KEEP;
    }
});

