[Desktop Entry]
Type=Application
Name=Clausis Audio-Start
Comment=Spoken accessibility welcome and installer start
Exec=/usr/local/bin/clausis-live-welcome
Terminal=false
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
